
<div class="ui container">
    
    <div class="ui text menu">
  <div class="item">
    <img src="/public/assets/images/steem.png" style="height: 20px; width: 20px">
  </div>
  <a class="browse item" href="/">
    <b>Steem Command</b>
  </a>
  
  
  
        <div class="right item">
   
  <div class="ui dropdown item">
    Account
    <i class="dropdown icon"></i>
    <div class="menu">
            <div class="item disabled">Claim</div>
            <div class="item disabled">Create</div>
            <div class="item disabled">Auth</div>
            <div class="item disabled">Sanitize</div>
            <div class="item disabled">Health</div>
            <div class="item disabled">Prune</div>
            <div class="item disabled">Delete</div>
    </div>
  </div>
  
  <div class="ui dropdown item">
    Explore
    <i class="dropdown icon"></i>
    <div class="menu">
            <a href="/explore/account.html"  class="item">Account</a>
            <a href="/explore/transaction.html"  class="item">Transaction</a>
            <a href="/explore/block.html"  class="item">Block</a>
            <a href="/explore/post.html"  class="item">Post</a>
            <a href="/explore/config.html"  class="item">Config</a>
            <a href="/explore/globals.html"  class="item">Globals</a>
            <a href="/explore/properties.html"  class="item">Properties</a>
            <a href="/explore/tags.html"  class="item">Tags</a>
    </div>
  </div>
  
  
  <div class="ui dropdown item">
    Manage
    <i class="dropdown icon"></i>
    <div class="menu">
            <div class="item disabled">Account</div>
            <div class="item disabled">Claim</div>
            <div class="item disabled">Auth</div>
            <div class="item disabled">Delegation</div>
            <div class="item disabled">Post</div>
            <div class="item disabled">Witnesses</div>
            <div class="item disabled">Followers</div>
    </div>
  </div>
  
  
  <div class="ui dropdown item">
    Create
    <i class="dropdown icon"></i>
    <div class="menu">
            <div class="item disabled">Account</div>
            <div class="item disabled">Escrow</div>
            <div class="item disabled">Delegation</div>
            <div class="item disabled">Transfer</div>
            <div class="item disabled">Powerup</div>
            <div class="item disabled">Sell order</div>
            <div class="item disabled">Secure memo</div>
    </div>
  </div>
  
  <div class="ui dropdown item">
    About
    <i class="dropdown icon"></i>
    <div class="menu">
            <a class="item" href="/faqs.html">FAQs</a>
            <a class="item" target="_blank" href="https://discord.gg/xeSnGc8">Chat</a>
            <a class="item" target="_blank" href="https://github.com/steem-command/www">Edit</a>
    </div>
  </div>
  
  
        </div>

    </div>

</div>
